<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samlifttruck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.CardexDeatilsActivity"></activity>
        <activity android:name=".activity.Adapters.CustomSpinnerAdapter" />
        <activity android:name=".activity.MidtermTodayListActivity" />
        <activity
            android:name=".activity.PermListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ReceiptListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.DraftListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProdcutActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardexActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MidtermControlActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.ShelfEditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.HomePageActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>